<section id="about">
  <div class="wrapper">

    <div class="column-1">
      <h1 class="heading">About</h1>

      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate v elit esse cillum dolore eu fugiat nulla pariatur.
      </p>

      <div class="count-section">
        <div class="project-complete">
          <span class="count">780 +</span>
          <span class="text">Project Completed</span>
        </div>
        <div class="happy-clients">
          <span class="count">220 +</span>
          <span class="text">Happy Clients</span>
        </div>
      </div>
    </div>

    <div class="column-2">
      <div class="bg-gradient"></div>
      <div class="service service-1">
        <%= image_tag "web-dev-sm.png", class: 'icon', alt: 'Web Development' %>
        <div class="content">
          <h2>Web Development</h2>
          <span>220+ Web Completed</span>
        </div>
      </div>

      <div class="service service-2">
        <%= image_tag "app-dev-sm.png", class: 'icon', alt: 'App Development' %>
        <div class="content">
          <h2>App Development</h2>
          <span>360+ App Completed</span>
        </div>
      </div>

      <div class="service service-3">
        <%= image_tag "seo-sm.png", class: 'icon', alt: 'SEO' %>
        <div class="content">
          <h2>SEO</h2>
          <span>320+ Web Completed</span>
        </div>
      </div>

      <div class="service service-4">
        <%= image_tag "digital-marketing-sm.png", class: 'icon', alt: 'Digital Marketing' %>
        <div class="content">
          <h2>Digital Marketing</h2>
          <span>yourmail@gmail.com</span>
        </div>
      </div>

      <div class="diamond-circle">
        <%= image_tag "diamond.svg", alt: 'Diamond' %>
      </div>
    </div>
  </div>
</section>
