<footer>
  <div class="wrapper">
    <div class="columns">
      <div class="column-1">
        <%= image_tag "map.png", alt: 'Map' %>
      </div>

      <div class="column-2">
        <nav>
          <ul class="list">
            <li class="list__item"><a href="#home" class="list__link list__link--active">Home</a></li>
            <li class="list__item"><a href="#about" class="list__link">About</a></li>
            <li class="list__item"><a href="#services" class="list__link">Services</a></li>
            <li class="list__item"><a href="#portfolio" class="list__link">Portfolio</a></li>
            <li class="list__item"><a href="#team" class="list__link">Team</a></li>
            <li class="list__item"><a href="#contact" class="list__link">Contact Us</a></li>
          </ul>
        </nav>
      </div>

      <div class="column-3">
        <h3>Contact</h3>
        <div class="address">
          <div class="icon">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div class="text">
            <%= @contact.location %>
          </div>
        </div>
        <div class="email">
          <div class="icon">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="text">
            <%= @contact.email %>
          </div>
        </div>
        <div class="phone">
          <div class="icon">
            <i class="fa-solid fa-phone"></i>
          </div>
          <div class="text">
            <%= @contact.phone %>
          </div>
        </div>

        <div class="social-icons">
          <div class="social-icon">
            <i class="fa-brands fa-facebook-f"></i>
          </div>
          <div class="social-icon">
            <i class="fa-brands fa-instagram"></i>
          </div>
          <div class="social-icon">
            <i class="fa-brands fa-linkedin-in"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="bottom">
      <div class="left">
        <div class="company">
          <%= image_tag "brand-logo.png", alt: 'Logo', width: '74', height: '74' %>
          <%= image_tag "brand-name.png", alt: 'Name', width: '240' %>
        </div>
        <p class="copyright">Copyright © TechMinds 2023. All rights reserved.</p>
      </div>

      <div class="right">
        <span>Privacy Policy</span>
        <span>Terms & Conditions</span>
      </div>
    </div>
  </div>
</footer>
