<section id="portfolio">
  <div class="wrapper">
    <div class="bg-gradient"></div>
    <div class="bg-circles">
      <%= image_tag "bg-circle-3.svg", class: 'bg-circle-3' %>
      <%= image_tag "bg-circle-4.svg", class: 'bg-circle-4' %>
    </div>

    <h1 class="heading">Portfolio</h1>
    <p class="description">Perfect solution for digital experience</p>


    <div class="projects">
      <div class="project">
        <%= image_tag "project-1.png", alt: 'Digital Marketing' %>
        <h2 class="project__title">DIGITAL MARKETING</h2>
        <p class="project__description">Transforming & Modeling Data</p>
      </div>
      <div class="project">
        <%= image_tag "project-2.png", alt: 'Mobile App Design' %>
        <h2 class="project__title">Mobile App Design</h2>
        <p class="project__description">Crypto Wallet App</p>
      </div>
      <div class="project">
        <%= image_tag "project-3.png", alt: 'Web Development' %>
        <h2 class="project__title">Web Development</h2>
        <p class="project__description">Creating Websites & Web Applications</p>
      </div>
    </div>
  </div>
</section>
