<section id="portfolio">
  <div class="wrapper">
    <div class="bg-gradient"></div>
    <div class="bg-circles">
      <%= image_tag "bg-circle-3.svg", class: 'bg-circle-3' %>
      <%= image_tag "bg-circle-4.svg", class: 'bg-circle-4' %>
    </div>

    <h1 class="heading">Portfolio</h1>
    <p class="description"><%= @portfolio.description %></p>

    <div class="projects">
      <% @portfolio.portfolio_items.each do |project| %>
        <div class="project">
          <%= image_tag url_for(project.image), alt: project.title %>
          <h2 class="project__title"><%= project.title %></h2>
          <p class="project__description"><%= project.description %></p>
          <%= link_to "View Demo", "#", class: "button-demo" unless project.hide_demo_link %>
        </div>
      <% end %>
    </div>
  </div>
</section>
