<section id="team">
  <div class="wrapper">

    <div class="section-title">
      <h1 class="heading">Our hard working team</h1>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut.</div>
    </div>

    <div class="members">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="member">
              <%= image_tag "member-1.png", alt: 'Member Image' %>
              <div class="member__detail">
                <h2 class="member__name">Lorem Ipsum</h2>
                <p class="member__place">Torronto, Canada</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="member">
              <%= image_tag "member-2.png", alt: 'Member Image' %>
              <div class="member__detail">
                <h2 class="member__name">Lorem Ipsum</h2>
                <p class="member__place">Torronto, Canada</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="member">
              <%= image_tag "member-3.png", alt: 'Member Image' %>
              <div class="member__detail">
                <h2 class="member__name">Lorem Ipsum</h2>
                <p class="member__place">Torronto, Canada</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="member">
              <%= image_tag "member-4.png", alt: 'Member Image' %>
              <div class="member__detail">
                <h2 class="member__name">Lorem Ipsum</h2>
                <p class="member__place">Torronto, Canada</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="member">
              <%= image_tag "member-1.png", alt: 'Member Image' %>
              <div class="member__detail">
                <h2 class="member__name">Lorem Ipsum</h2>
                <p class="member__place">Torronto, Canada</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="member">
              <%= image_tag "member-2.png", alt: 'Member Image' %>
              <div class="member__detail">
                <h2 class="member__name">Lorem Ipsum</h2>
                <p class="member__place">Torronto, Canada</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-buttons">
        <div class="swiper-buttons__prev">
          <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="swiper-buttons__next">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
    </div>
  </div>
</section>
